body {
  color: #5a5a5a;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-brand {
  height: 103px;
}
.navbar-default {
  border-color: transparent;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #5a5a5a;
}
.team {
padding:0px 0;
}
.team .title {
  font-size: 36px;
  font-weight: 800;
  color: #505c70;
  margin-top: 0;
  margin-bottom: 15px;
}
.team .intro {
margin:0 auto 60px;
max-width:800px;
color:#65758e;
font-weight:300;
font-size:20px;
}
.team .item .item-inner {
position:relative;
overflow:hidden;
padding:30px 30px 60px;
background:#f8f9fa;
}
.team .item .info .name {
margin-top:0;
margin-bottom:10px;
color:#505c70;
font-weight:700;
font-size:22px;
}
.team .item .info .role {
margin-top:0;
margin-bottom:15px;
color:#65758e;
font-style:italic;
font-size:16px;
}
.team .item .social {
position:absolute;
bottom:30px;
margin-left:-30px;
padding-top:15px;
width:100%;
}
.team .item .social .social-list {
margin:0 auto;
width:100%;
}
.team .item .social .social-list li a {
display:inline-block;
padding-top:8px;
width:36px;
height:36px;
-moz-border-radius:50%;
-ms-border-radius:50%;
-o-border-radius:50%;
-webkit-border-radius:50%;
border-radius:50%;
background:#bcc4d0;
-moz-background-clip:padding;
-webkit-background-clip:padding-box;
background-clip:padding-box;
}
.team .item .social .social-list li a:hover {
background:#65758e;
}
.team .item .social .social-list li .fa {
color:#fff;
font-size:18px;
}
.team .item,.team .item .figure,.team .item .info {
margin-bottom:30px;
}
