blockquote {
    border-left: none;
}
.intro {
  background: url(../images/landing-bg.png) bottom right no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  position: relative;
  border-bottom: 1px solid #DDD;
  padding-left: 10%;
  padding-right: 20px;
}