body {
  color: #5a5a5a;
}
blockquote {
  border-left: none;
}
.intro {
  background: url(../images/landing-bg.png) bottom right no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  border-bottom: 1px solid #DDD;
  margin-bottom: 20px;
}
.featurettes {
  margin-bottom: 20px;
}
.featurette {
  padding-top: 84px; /* Vertically center images part 1: add padding above and below text. */
}
.featurette-image {
  margin-top: -84px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}
.photo-gallery {
  margin-bottom: 20px;
}
.testimonials {
  background-color: #fafafa;
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
}

@media (max-width: 991px) {
	.featurette {
	  padding-top: 0px;
	}
	.featurette-image {
	  margin-top: 0px;
	}
}
@media (max-width: 767px) {
	.intro {
	  background: url(../images/landing-bg-mob.png) bottom right no-repeat;
	}
}

/* Salvattore (photo-gallery) */

@media screen and (max-width: 480px){
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 481px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}

/* Again, you’re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }