body {
  color: #5a5a5a;
}
blockquote {
  border-left: none;
}
.navbar-brand {
  height: 103px;
}
.navbar-default {
  border-color: transparent;
  background-color: transparent;
}
.collapsible-menu-expanded {
  border-color: #e7e7e7;
  background-color: #f8f8f8;
}
.intro {
  position: relative;
  margin-bottom: 20px;
  height: 100vh;
  border-bottom: 1px solid #DDD;
  background: LightGray; /* http://www.w3schools.com/cssref/css_colors.asp */
  background: linear-gradient(white, SlateGray);
  background: -webkit-linear-gradient(white, SlateGray);
  background: -o-linear-gradient(white, SlateGray);
  background: -moz-linear-gradient(white, SlateGray);
  background: linear-gradient(white, SlateGray);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.value-proposition {
  position: absolute;
  top: 50%;
  left: 50%;
	color: #fff;
	text-shadow: 0px 0px 12px #111;
  transform: translate(-50%, -50%);
}
.value-proposition h1 {
	font-size: 50px;
}
.value-proposition h2 {
  font-style: italic;
	font-size: 30px;
}
/*Scroll down icon*/
.fa-angle-down {
  animation: bounce 3000ms infinite;
}
a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}
/*Feature icons size*/
.fa-5x {
  font-size: 8em !important;}
.featurettes {
  margin-bottom: 20px;
}
.featurette {
  padding-top: 84px; /* Vertically center images part 1: add padding above and below text. */
}
.featurette-image {
  margin-top: -84px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}
.photo-gallery {
  margin-bottom: 20px;
}
.testimonials {
  padding-top: 20px;
  border-top: 1px solid #ebebeb;
  background-color: #fafafa;
}

/* <Intro text> */
@media (max-width: 980px) {
	.value-proposition h1 {
		font-size: 42px;
	}
  .value-proposition h2 {
		font-size: 25px;
	}
}
@media (max-width: 767px) {
	.value-proposition h1 {
		font-size: 36px;
	}
  .value-proposition h2 {
		font-size: 18px;
	}
}
/* </Intro text> */

@media (max-width: 991px) {
	.featurette {
	  padding-top: 0px;
	}
	.featurette-image {
	  margin-top: 0px;
	}
}

/* Salvattore (photo-gallery) */
@media screen and (max-width: 480px){
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 481px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}

.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
